* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background:#F1F2F7;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    aspect-ratio: 1/1;
    overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}

.navbar__brand {
  position: relative;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3;
}

.navbar__brand::after {
  border: 1px solid black;
  width: 50px;
  height: 1px;
  position: absolute;
  content: "";
  background: black;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 1rem;
  list-style-type: none;
}

nav ul li a  {
  text-decoration: none;
  color: black
}
nav ul li a:hover {
  color:rgb(253, 186, 0);
}

.section {
  margin: 5rem 0; 
}
.section h2 {
  text-align: center;
}

.jumbotron {
  margin: 1rem auto;
  background: white;
  border-radius: 5px;
  height: auto;
  width: 50%;
  padding:1rem 2rem;
}
.jumbotron p {
  display: flex;
  font-size:30px;
  color: black;
  font-weight: bolder;
  text-align: center;
}
.button {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;

}

.coppied {
    z-index: 10;
    position:absolute;
    left: 45%;
    color: white;
    padding: 6px 15px;
    background: black;
    border: 2px solid black;
    text-align: center;
    border-radius:5px;
    display: none;
    animation: floatIn .5s ease-in-out reverse;
}

@keyframes floatIn {
  
  100%   { transform: translate(0, -1000px); }   
}

.copy {
  font-size: 30px;
  cursor: pointer;
}
.jumbotron button {
  cursor: pointer;
 font-weight: bold;
  background: black;
  color:white;
  border-radius:5px;
  text-align: center;
  padding: 1rem 2rem;
  transition:all .5s ease-in-out;

}

.jumbotron button:hover {
  border:2px solid black;
  color: black;
  background: white;
}


.toggleMenu {
  display: none;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

footer {
  position: absolute;
  background: black;
  width: 100%;
  height: auto;
  padding: 3px;
  bottom: 0;
  left: 0;

}

footer h6 {
  color: white;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .jumbotron {
    width:100%;
  }

  .toggleMenu {
    display: block;
  }
.nav__menu {
  position: relative;
}
.nav__menu ul {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  left:-100px;
  top: 100px;
}
.nav__menu ul li {
  font-weight: bold;
  font-size: 20px;
}

}